h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    color: #333;
  }
  .title{
    margin-top: 5rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  nav button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  nav button:hover {
    background-color: #0056b3;
  }
  
  nav button.active {
    background-color: #0056b3;
  }
  